<h1 mat-dialog-title>Neue Transaktion hinzufügen</h1>
<div mat-dialog-content>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" [style.width.px]=210>
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="datum">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <input matInput formControlName="beschreibung">
    </mat-form-field>

    <!-- Betrag-Feld -->
    <mat-form-field>
      <mat-label>Betrag</mat-label>
      <input matInput formControlName="betrag" placeholder="z.B. 2.45" />
      <mat-error *ngIf="transactionForm.get('betrag')?.errors?.required">
        Betrag ist erforderlich.
      </mat-error>
      <mat-error *ngIf="transactionForm.get('betrag')?.errors?.commaNotAllowed">
        Bitte verwenden Sie einen Punkt (z.B. 2.45) statt eines Kommas.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kategorie</mat-label>
      <mat-select formControlName="kategorie">
        @for (k of kategorien; track $index; let i = $index) {
          <!--        {{k.name}} ist ein Template und wird durch den wert der variable k.name ersetzt -->
          <mat-option value="{{k.name}}">{{ k.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Typ</mat-label>
      <mat-select formControlName="transaktionstyp">
        <mat-option value="Einnahme">Einnahme</mat-option>
        <mat-option value="Ausgabe">Ausgabe</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<!--Bedingung hinzugefuegt, um den Button zu deaktivieren, solange das Formular ungültig ist:-->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [disabled]="transactionForm.invalid" (click)="onSubmit()">OK</button>
</div>


