#main {
  background-color: rgb(235, 235, 240);
  height: 200px;
  padding: 1%;
}

#row {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 1fr 1fr;
}

#left {
  background-color: rgb(235, 235, 240);
}

#right {
  background-color: rgb(191, 191, 243);
}
