<h1 mat-dialog-title>Neue Transaktion hinzufügen</h1>
<div mat-dialog-content>
  <form [formGroup]="transactionForm">
    <mat-form-field appearance="fill">
      <mat-label>Datum</mat-label>
      <input matInput formControlName="datum">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <input matInput formControlName="beschreibung">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Betrag</mat-label>
      <input matInput formControlName="betrag">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Kategorie-ID</mat-label>
      <input matInput formControlName="kategorieid">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Typ</mat-label>
      <mat-select formControlName="transaktionstyp">
        <mat-option value="Einnahme">Einnahme</mat-option>
        <mat-option value="Ausgabe">Ausgabe</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSubmit()">OK</button>
</div>
