<!--Bootstrap mit dem container:-->
<div id="RosaBox" class="container m-5">

  <h3>Alle Transaktionen</h3>

  <!-- Umschließendes Div für responsives Verhalten -->
  <div class="table-responsive">
    <table class="table table-striped mt-5">
      <thead>
      <tr>
        <th scope="col">Einsparen?</th>
        <th scope="col">Transaktionstyp</th>
        <!-- Beschreibung wird auf Mobilgeräten ausgeblendet -->
        <th scope="col" class="d-none d-sm-table-cell">Beschreibung</th>
        <th scope="col">Betrag</th>
        <!-- Kategorie wird auf kleinen Geräten ausgeblendet -->
        <th scope="col" class="d-none d-md-table-cell">Kategorie</th>
        <th scope="col">Datum</th>
        <th scope="col">Löschen</th>
      </tr>
      </thead>
      <tbody>
      <!--    For Schleife für Angular lesbar:-->
      @for (t of transaktionen; track $index; let i = $index) {
        <tr>
          @if (!t.wichtigkeitslabel && t.transaktionstyp == 'Ausgabe') { <!--  Ein Ausrufezeichen zum negieren, damit nur die nicht wichtigen Ausagben ein Ausrufesymbol bekommen-->
            <td><i class="bi bi-exclamation-circle-fill"></i></td>
          } @else {
            <td></td>
          }
          <td>{{ t.transaktionstyp }}</td>
          <!-- Lange Texte bei Beschreibung umbrechen -->
          <td class="d-none d-sm-table-cell text-wrap">{{ t.beschreibung }}</td>
          <td>{{ (t.betrag | number: '1.2-2') }}€</td>
          <!-- Kategorie auf kleineren Geräten nicht anzeigen -->
          <td class="d-none d-md-table-cell text-wrap">{{ t.kategoriename }}</td>
          <td>{{ t.datum}}</td> <!--    es wird ein Wert eingetragen:-->
          <td><i (click)="openDialog(t.transaktionsid)" class="bi bi-trash"></i></td> <!-- hier wird gesagt das ein Dialog geöffent wird wenn ich auf den Mülleimer klickt-->
        </tr>
      }
    </tbody>
  </table>
  </div>
</div>
